*{
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    background-color:#29339b;
    border-bottom: 2px solid #99e1d9;
   
}
body{
    background-color:#27476E !important;
}

.container{
    
    
}
.nav-link{
    color: whitesmoke;
}

.navbar-brand{
    color: #e7bb41;
}
.nev{
    color: #e7bb41;
}
p{
    color: #99e1d9;
}
h1{
    color: whitesmoke !important;
}

.hello{
    background-color: #27476E;
    border: 6px solid;
    margin-bottom: 16px;
}
.creator{
    height: 20rem;
    width: 20rem;
}
.navbar-toggler-icon{
    color: #99e1d9;
    background-color: royalblue;
}
.panels{
    min-height: 100vh;
    
    display: flex;
}

.panel{
    color: whitesmoke;
    flex:1;
    background-color: cadetblue;
    text-transform: uppercase;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-position: center;
    transition: cubic-bezier(.17,.67,.83,.67) 0.5s;
}
.open{
    flex: 5;
}
