*{
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    background-color:#29339b;
    border-bottom: 2px solid #99e1d9;
   
}
body{
    background-color:#27476E !important;
}

.container{
    background-color: #27476E;
}
.nav-link{
    color: whitesmoke;
}

.navbar-brand{
    color: #e7bb41;
}
.nev{
    color: #e7bb41;
}
p{
    color: #99e1d9;
}
h1{
    color: whitesmoke !important;
}
.creator{
    max-height: 50%;
    
}